<div>
    <strong>Nombre de país: </strong> <span> Uruguay</span>
    <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Uruguay.svg/270px-Flag_of_Uruguay.svg.png" width="200px"></p>
    <strong>Datos generales:</strong><br>
    
    <p>
        Uruguay, oficialmente República Oriental del Uruguay, es un pais de Améñca del Sur, situado en la parte oriental del Cono Sur americano. Limita al noreste con Brasil
        -estado de Rio Grande del Sur,al oeste con Argentina -provincias de Entre RioS y Cormientes-y tiene costas en el océano AtlánticO al sureste y sobre el Rio de la
        Plata naca el sur. Abarca 1 76?215 km y es el segundo pais mas pequeno de sudamerica, despues de surinam.1r Segun los datos del ultimo censo del lINE en 201,
        la poblaciôn de Uruguay es de 3.290.454 habitantes, por lo que figura en la décima posición entre los paises Sudamericanos.Uruguay, oficialmente Republica Oriental
        del Uruguay, es un pais de America del Su, Situado en la parte oriental del tono sur americano. Limita al noreste con Brasilestado de kio Grande del Sur, al oeste
        con Argentina -provincias de Entre Rios y Corrientesy tiene costas en el Océano Atlántico al sureste y sobre el Rio de la Plata hacia el sur. Abarca 176?215 km2 y e
        el segundo pais más pequeño de Sudamérica, después de Surinam.1? Según los datos del último censo del INE en 2011, la población de Uruguay es de 3.290.454
        habitantes, por lo que figurā en la decima posición entre los paises sudamericanos.
    </p>
</div>