<div>
    <strong>Nombre de país: </strong> <span> Perú</span>
    <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Flag_of_Peru_%281884%E2%80%931950%29.svg/220px-Flag_of_Peru_%281884%E2%80%931950%29.svg.png" width="200px"></p>
    <strong>Datos generales:</strong><br>
    
    <p>
        Peru es un pais de Sudamerica que abarca una seción del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en
        torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicOs.            
    <p>
        Muchas personas escogen vivir en Peru porque ciertamente hay buenas oportunidades de trabajo para inmigrantes.Ademas, es un pais muy hermoso, con buena
        comida y recepción agradable para los extranjeros.
    </p>
</div>