<div>
    <strong>Nombre de país: </strong> <span> Chile</span>
    <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Flag_of_Chile.svg/200px-Flag_of_Chile.svg.png" width="200px"></p>
    <strong>Datos generales:</strong><br>
    
    <p>
        Chile es un pais de América ubicado en el extremo sudoeste de América del Sur. Su nombre oficial es República de Chile26? y Su capital es la ciudad de Santiago.27?
        n 87 Primer pais sudamericano en ingresar a la Organización para la Cooperación y el Desarrollo Económicós, Chile es una de las economias de Américá Latina que
        más ha crecido desde mediados de la decada de 1980.
    </p>
      
    <p>
        Antes del descubrimiento de América, las tierras situadas al sur del desierto de Atacama ya se llamaban Chili en la tradición indigena.46? Una vez instalados en
        Nueva Castilla y Nueva Toledo, loS conquistadores españoles siguieron lamando de esa forma a la región del sur, a veces tambien conocida como «valle de Chile»,
        nombre que se extendió posteriormente a todo el actual pais.47?
    </p>
</div>